:root {
  --header-height: 3.444rem;
}
.nowrap {
  white-space: nowrap;
}
html,
body {
  width: 100%;
  height: 100%;
  opacity: 1.0 !important;
  transition: opacity .15s ease-in-out;
}
body {
  height: 100vh;
  overflow-x: hidden;
}
.container {
  margin-top: 6.111rem;
  max-width: 30rem;
}
.header {
  height: var(--header-height);
  min-height: var(--header-height);
}
.icon-sm {
  width: 0.888rem;
  height: 0.888rem;
  padding: 4px;
}
.divider {
  border-width: 0.5px;
}
.nav-link:active,
.nav-link.active {
  color: var(--p3);
  border-radius: 4px;
}
.avatar {
  width: 1.333rem;
  min-width: 1.333rem;
  height: 1.333rem;
  min-height: 1.333rem;
}
.main,
.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 100vh;
}
.main {
  background-image: none;
  transition: transform 0.15s ease-out;
  min-width: 17.777rem;
}
.slide-menu {
  transform: translateX(100%);
}
.icon {
  width: 1rem;
  height: 0.666rem;
}
.f-wrap {
  flex-wrap: wrap;
}
.d-table {
  display: table;
}
.heading-sm {
  text-transform: uppercase;
}
input::placeholder {
  color: var(--p20);
  font-weight: 300;
}
aside div#category:first-child {
  margin-top: 1rem;
}
aside div#category {
  margin-top: 1.777rem;
}

@media only screen and (min-width:48em) {
  .d-flex-lg {
    display: flex;
  }
  #menu-open {
    display: none;
  }
  #menu-close {
    display: none;
  }
  #doc {
    margin-left: 5%;
    margin-right: 5%;
  }
  .sidebar {
    width:12.222rem;
    min-width:12.222rem;
  }
  .main {
    position: static;
    transition: none;
  }
  .slide-menu {
    transform: translateX(0);
  }
  .fd-row-lg {
    flex-direction: row;
  }
}
