#doc {
  @extend .c-p8;
  font-size: 1.111rem;
  max-width: 44.444rem;
}

#doc * {
  @extend .fw-book;
  line-height: 1.555rem;
}

#doc h1 {
  @extend .lh3;
  @extend .mb0;
  @extend .fw-book;
}

#doc h1:first-of-type {
  @extend .fs3;
}

#doc h2:first-of-type {
  @extend .mt2;
}

#doc h2 {
  @extend .fs2;
  @extend .mb-3;
  @extend .mt4;
  @extend .lh3;
  @extend .fw-book;
}

#doc h3 {
  @extend .mt3;
  @extend .mb-3;
  @extend .fw-book;
}

#doc p {
  @extend .mb-1;
  @extend .fw-book;
}

#doc a {
  @extend .c-p3;
  @extend .c-h0;
  @extend .c-a0;
}

#doc a code {
  @extend .td-u;
}

#doc p code, li > code, a code {
  @extend .br0;
  @extend .c-p7;
  @extend .bg-p21;
  padding: 0.111rem 0.222rem 0.222rem;
  font-size: 0.888rem;
}

#doc li > pre {
  @extend .mt-3;
  @extend .mb-2;
}

#doc pre {
  @extend .bg-p8;
  @extend .c-p1;
  @extend .p0;
  @extend .mb0;
  @extend .lh1;
  @extend .o-scroll;
  @extend .br0;
  font-size: 0.888rem;
  position: relative;
}

#doc pre code {
  line-height: unset;
}

#doc pre code[class*="language-"]::after {
  position: absolute;
  font-family: Slate;
  @extend .fw-normal;
  top: 0;
  right: 0;
  @extend .mt-2;
  @extend .mr-2;
  @extend .fs-1;
  @extend .lh-1;
  @extend .c-p18;
}

#doc pre code[class$="-bash"]::after {
  content: "sh";
}

#doc pre code[class$="-css"]::after {
  content: "CSS";
}

#doc pre code[class$="-html"]::after {
  content: "HTML";
}

#doc pre code[class$="-js"]::after {
  content: "JS";
}

#doc pre code[class$="-javascript"]::after {
  content: "JS";
}

#doc pre code[class$="-http"]::after {
  content: "HTTP";
}

#doc h2 code {
  @extend .br0;
  @extend .c-p7;
  @extend .bg-p21;
  @extend .pt-5;
  @extend .pr-4;
  @extend .pb-4;
  @extend .pl-4;
}

#doc h3 code {
  @extend .br0;
  @extend .c-p7;
  @extend .bg-p21;
  @extend .pt-5;
  @extend .pr-4;
  @extend .pb-4;
  @extend .pl-4;
}

#doc strong {
  @extend .fw-medium;
}

#doc strong a {
  @extend .fw-medium;
}

#doc blockquote {
  @extend .b-p17;
  @extend .pt0;
  @extend .pr0;
  @extend .pb-4;
  /*padding-bottom: 0.1px;*/
  @extend .pl0;
  background-color: #fff6e3;
  border-left-style: solid;
  border-left-width: 0.222rem;
  @extend .mb0;
}

#doc blockquote p {
  @extend .pb-none;
}

#doc ul {
  @extend .pl0;
  @extend .mb0;
}

#doc li {
  @extend .mb-none;
}

#doc ul li {
  list-style: unset;
  @extend .pt-3;
}

#doc ol {
  @extend .pl0;
  @extend .mb0;
}

#doc ol li {
  list-style: unset;
  @extend .pt-3;
}

#doc ul li ul {
  @extend .mb-none;
}

#doc ol li ul {
  @extend .mb-none;
}

#doc li p {
  margin-bottom: unset;
}

#doc table {
  @extend .mb0;
  @extend .w-100;
  @extend .ta-l;
  @extend .b;
  @extend .b-p18;
  border-collapse: collapse;
}

#doc table th {
  @extend .p-1;
  @extend .fw-normal;
  @extend .b;
  @extend .b-p18;
  border-collapse: collapse;
}

#doc table td {
  @extend .p-1;
  @extend .b;
  @extend .b-p18;
  border-collapse: collapse;
}

#doc hr {
  height: 1px;
  @extend .bg-p18;
  @extend .mb0;
  @extend .mt3;
}

#doc img {
  @extend .b;
  @extend .b-p13;
}

#doc #deploy-to-begin {
  width: 13rem;
  height: 3rem;
  border: none;
}

#footer-hr {
  @extend .mt3;
}

/*

#doc {
  @extend ;
}

*/
